@charset "utf-8";
/* CSS Document */

body {
background-image: none;
font-size:87.5%;
font-family:Arial, Helvetica, sans-serif;
line-height:1.5;
text-align:left;
}

a {
text-decoration:none;
}
a:link, a:visited {
color:#CC3300;
}
a:hover, a:active{
background-color:#0066FF;
color:#FFFFFF;
}

.body {
	margin: 0 auto;
	width: 70%;
	clear:both;
}

.mainheader img{
width:30%;
height:auto;
margin:2% 0;
}

.mainheader h1{
width:70%;
height:auto;
margin:2% 0;
color:#000099;
font-size:20px;

}
.mainheader nav {
background-color:#5B7FFF;
height:40px;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
}

.mainheader nav ul {
	list-style:none;
	margin: 0 auto;
}

.mainheader nav ul li {
float:left;
display:inline;
font-size:18px;
}

.mainheader nav a:link, .mainheader nav a:visited {
color:#FFF;
display:inline-block;
padding:10px 25px;
height:20px;
}

.mainheader nav a:hover, .mainheader nav a:active, .mainheader nav .active a:link, .mainheader nav .active a:visted {
background-color: #FF6600;
text-shadow:none;
}

.mainheader nav ul li a {
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.maincontent {
border-width:2px;
border-color:#8000FF;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;

}

.content {
width:70%;
float:left
}

.topcontent {
background-color:#FFF;
padding:2% 3%;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
margin-top:2px;
}
.bottomcontent {
background-color:#FFF;
padding:2% 3%;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
margin-top:2px;
}
.top-sidebar {
width:27%;
float:left;
background-color:#FFF;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
margin-left:2%;
margin-top:2%;
color:#FFF;
}

.middle-sidebar {
width:27%;
float:left;
background-color:#FFF;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
margin-left:2%;
margin-top:2%;
color:#FFF;

}

.mainFooter {
width:100%;
float:left;
-moz-border-radius:5px;
-webkit-border-radius:5px;
padding:2% 5%;
background-color:#5B7FFF;
margin-top:2%;
margin-bottom:2%;
color:#FFF;
}

.mainFooter p {
width: 92%;

}

@media only screen and (min-width:150px) and (max-width:600px)
{

 	.body {
	width:95%;
	font-size:98%;
	}
	.mainheader h1{
 	width:70%;
	height:auto;
	margin:2% 0;
	color:#000099;
	font-size:20px;

}
	.mainheader img{
	width:100%;
	}

	.mainheader nav {
	height:160px;
	
	}

	.mainheader nav ul {
	padding-left:0;
	}

	.mainheader nav ul li {
	width:100%;
	text-align:center;
	}

	.mainheader nav a:link, .mainheader nav a:visited {
	padding:10px 25px;
	height:20px;
	display:block;
}

.content {
width:100%;
float:left
margin-top:2%;
}

.topcontent {
background-color:#FFF;
padding:2% 3%;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
margin-top:2%;
margin-bottom:3%;
color:#FFF;
}

.bottomcontent {
display:none;
 }

.top-sidebar, .middle-sidebar {
width:97%;
float:left;
background-color:#FFF;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
margin-left:2%;
margin-top:2%;
color:#FFF;
}

}